* {
    margin: 0
}

.wrapper {
    width: 90%;
    border: 8px dotted aqua;
    margin: 0 auto;
}

.title {
    color: green;
    font-size: 1.6em;
}

.bannerContainer {
    width: 550px;
    height: 150px;
    border: 3px solid crimson;
}

img {
    width:100%;
    max-height:100%;
    object-fit: fill;
}

.contactContainer {
    border: 2px solid green;
}

.pricesContainer {
    border: 2px solid black;
}

.mapContainer {
    border: 2px solid orange;
}