/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.all {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 80%;
    border: 3px dotted aqua;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
}

img {
    width:100%;
    max-height:100%;
    object-fit: fill;
}

header {
    width: 100%;
    border: 1px dotted green;
    display: flex;
    justify-content: space-between;
}

h2 {
    font-size: 5rem;
    color: #1A367D;
}

section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.sectionContainer,
.sectionContainer2 {
    width: 50%;
    border: 2px solid black;
    background-color: #C3F0FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 66vh;
    color:#18367D;
    text-align: center;
    font-size: 2.6em;
}

.sectionContainer2 {
    background-color: #C1F2E8;
    color: #046A6A;
    border-radius: 0 10% 10% 0;
}

.sectionContainer {
    border-radius: 10% 0 0 10%;
}

.bannerContainer {
    width: 70%;
    height: 100%;
    border: 1px dotted crimson;
    text-align: center;
}

.contactContainer {
    width: 20%;
    border: 1px dotted orange;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.phoneContainer {
    display: flex;
    font-size: 25px;
    color: #046A6A;
    border: 1px dotted red;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 15vh;
    background-color: #FAE6F4;
}

.hoursOfOperation {
    color: #8D0547;
    width: 80%;
    margin: 20px auto;
}

.bottleContainer,
.mapContainer {
    width: 80%;
    height: 80%;
    border: 2px dotted black;
}

.mapContainer {
    border-radius: 5%;
    overflow: hidden;
}

.hoursSpan {
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.buttonContainer {
    height: 50%;
    width: 100%;
    border: 1px dotted black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.successSpan {
    color: green;
    float: right;
}

#contactButton {
    color: white;
    background-color: red;
    border: none;
    border-radius: 5%;
    padding: 15px;
} */

/*                                                                                      ALL */

/*                                                                                      ALL */

/*                                                                                      ALL */

/*                                                                                      ALL */

/*                                                                                      ALL */

/*                                                                                      ALL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*                                                                                      HEADER */

/*                                                                                      HEADER */

/*                                                                                      HEADER */

/*                                                                                      HEADER */

/*                                                                                      HEADER */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 113px;
    /* background-color: grey; */
    color: #004863;
}

.headerWrapper {
    height: 100%;
    width: 69%;
    /* background-color: lightskyblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bannerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: lightsalmon; */
    font-size: 35px;
}

.contactContainer {
    /* background-color: lightgreen; */
    display: flex;
    align-items: center;
}

.ui.button {
    padding: 15px 25px;
    color: #A1E5FF;
    background-color: #01627F;
}

.bannerContainer h1, .phoneContainer h2 {
    font-family: 'Poppins', sans-serif;
}

/*                                                                                      HERO */

/*                                                                                      HERO */

/*                                                                                      HERO */

/*                                                                                      HERO */

/*                                                                                      HERO */

.hero {
    height: 660px;
    background-color: #A1E5FF;
    /* background-image: url(./images/hero-background.png); */
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.hero-wrapper {
    /* background-color: beige; */
    width: 69%;
    height: 100%;
    display: flex;
}

.hero-about {
    /* background-color: red; */
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-about h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    color: #01627F;
    margin: 0;
}

.hero-about h3 {
    font-family: 'Poppins', sans-serif;
    color: #5BA1C1;
    margin: 0;
    font-size: 55px;
}

.hero-about p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #01627F;
    margin: 0;
}

.bottle-container {
    /* background-color: orange; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottle-container img {
    margin-top: 150px;
    margin-left: 100px;
    height: 65%;
}

/*                                                                                      PRICES */

/*                                                                                      PRICES */

/*                                                                                      PRICES */

/*                                                                                      PRICES */

/*                                                                                      PRICES */

.prices {
    /* background-color: #B9F6A4; */
    width: 69%;
    margin: 0 auto;
    height: 270px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
}

.price-container {
    /* background-color: #F9F6A4; */
    height: 270px;
    width: 31%;
    display: flex;
    flex-direction: column;
}

.price-title {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #004863;
}

.price-title h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.price-desc {
    color: #37819F;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.price-desc-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 57px;
}

.price-desc-img {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-desc-img img {
    height: 100%;
}

.refill {
    padding-top: 15px;
    height: 100%;
}

.bottleWater {
    padding-top: 20px;
    height: 90%;
}

/*                                                                                      LOCATION */

/*                                                                                      LOCATION */

/*                                                                                      LOCATION */

/*                                                                                      LOCATION */

/*                                                                                      LOCATION */

.location {
    height: 679px;
    margin-bottom: 65px;
    /* border: 2px solid black; */
}

.location-head {
    background-color: #37819F;
    padding-top: 40px;
}

.location-wrapper {
    width: 69%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #F1F1E6;
}

.location-wrapper h2 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.location-span {
    color: #F1F1E6;
}

.location-map {
    height: 604px;
    background-color: #37819F;
    display: flex;
    align-items: center;
}

.map-wrapper {
    height: 90%;
    display: flex;
    flex-direction: row;
}

/* .location-desc {
    width: 30%;
    height: 100%;
    padding-top: 50px;
    margin-left: 50px;
} */

.location-desc h2, .location-desc h3, .location-desc p {
    padding: 5px;
    margin: 0;
}

.map-container {
    height: 100%;
    width: 100%;
}

/*                                                                                      OTHER */

/*                                                                                      OTHER */

/*                                                                                      OTHER */

/*                                                                                      OTHER */

/*                                                                                      OTHER */

.other-products {
    height: 575px;
    margin-bottom: 50px;
    /* background-color: beige; */
}

.other-wrapper {
    width: 69%;
    margin: 0 auto;
}

.other-wrapper h2 {
    padding-bottom: 15px;
    color: #004863;
    font-family: 'Poppins', sans-serif;
}

.product-list {
    height: 500px;
    /* background-color: beige;  */
    width: 69%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-card {
    height: 100%;
    width: 32.5%;
    /* background-color: yellow; */
}

.flip-card {
    height: 500px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    /* background-color: beige; */
}

.flip-btn {
    outline: none;
    cursor: pointer;
}

.card-text {
    height: 50px;
    width: 100%;
    /* border: 1px solid green; */
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #004863;
    text-align: center;
}

.card-img {
    height: 400px;
    width: 100%;
    /* border: 1px dotted red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-card-3 .card-text {
    /* border: 1px solid red; */
    font-size: 26px;
}

.flip-btn img {
    height: 100%;
    margin-left: 10px;
}

.card-price {
    /* padding-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #37819F;
}

/*                                                                                      FOOTER */

/*                                                                                      FOOTER */

/*                                                                                      FOOTER */

/*                                                                                      FOOTER */

/*                                                                                      FOOTER */

footer {
    background-color: black;
    /* color: white; */
    color: #A1E5FF;
}

.footer-wrapper {
    width: 69%;
    margin: 0 auto;
    padding: 30px 0 70px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer h2 {
    font-family: 'Poppins', sans-serif;
}

footer p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.email-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.successSpan {
    color: green;
    float: right;
}